# build output
dist/

# generated types / cache
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# os / editor
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
